<div class="container">
  <div class="row">
    {{#each model as |category|}}
      {{category-tile category=category update="update" destroyCategory="destroyCategory" saveSubcat="saveSubcat" subcatUpdate="subcatUpdate"}}
    {{/each}}
  </div>
</div>

{{outlet}}
